body {
    background-image: linear-gradient(to left top, #000000, #240817, #3d052c, #52004a, #5f0070);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Adjust as needed */
    /* padding: 20px; */
    height: 80vh;
}

input[type='text'] {
	color: #fff;
    font-size: 20px; /* Adjust as needed */
    padding: 10px;
	outline: none;
	background: rgba(0,0,0,0.2);
	border: 1px solid rgba(60, 2, 33, 0.813);
	transition: 0.24s all ease-in-out;
	
	&:focus {
		background: rgba(255, 0, 238, 0.573);
		box-shadow: none;
        color:white;
		border-color: rgba(0, 0, 0, 0.2);
	}
}

.container {
    display: flex;
	align-items: center;
    justify-content: center;
    padding: 30px;
    background: rgba(108, 5, 106, 0.488);
    /* border-radius: 10px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 15rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.todos li { 
    list-style: none;
    background: rgba(0, 0, 0, 0.623);
    margin: 10px 0;
    padding: 1rem;
    color: rgb(252, 238, 249);
    border-radius: 5px;
	display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.todos li:hover { 
    box-shadow: rgba(191, 8, 136, 0.67) 0px 0px 0px 3px;
    transition: all .2s ease-in-out;
    transform: scale(1.04);
    cursor: pointer;
}

.delete {
    cursor: pointer;
    font-size: 24px
}

.todos .hide {
    display: none;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#task-text {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.5rem;

}

p {
    display: flex;
    width: 40em;
    justify-content: center;
    align-items: center; 
    text-transform: uppercase;
    letter-spacing: .5em;
}

p span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    background: url(border.png) repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 90s linear infinite;
    -webkit-transform: translate3d(0,0,0);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.628); /* Webkit browsers */
    -webkit-backface-visibility: hidden;
}

@-webkit-keyframes aitf {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.logo {
    display: flex;
    justify-content: center;
    align-items:center;
}
.logo img{
    height: 700px;
}
.logo:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.delete-all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: purple;
    color: white;
    cursor: pointer;
    font-size: 20px;
    width: 6rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.all-btn    {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.delete-all:hover   {
    background-color: rgba(255, 0, 255, 0.77);
    transition: all .4s ease-in-out;
    cursor: pointer;
}